.outerContainer {
  width: 100%;
  /* border: 2px solid gray; */
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(
    circle,
    #0d0d0c,
    #181817,
    #212120,
    #2a2a29,
    #333432
  );
  margin-top: 100px;
  .box1,
  .box2 {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box1 {
    .heading {
      font-size: 25px;
      font-weight: 500;
      color: rgb(199, 194, 194);

    }
    .smIcons {
      margin: 20px 0;
      .iconLink {
        margin: 0 10px;
        cursor: pointer;
        .icon {
          font-size: 35px;
          color: rgb(199, 194, 194);
          transition: 200ms ease-in-out;
        }
        .icon:hover{
            transform: scale(1.3);
            color: white;
        }
      }
    }
  }
  .hr{
    width: 90%;
    border-color: rgb(95, 93, 93);
  }
  .box2{
    margin-top: 20px;
    .copyright{
        color: rgb(199, 194, 194);
    }
  }
}
